<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>  </title>
    <link href="Author_page.css" rel="stylesheet">
  </head>
  <body>
    <header class= "header">
      <div><img id="standard_logo" src="https://bbkphilosophysociety.files.wordpress.com/2014/06/6a010535ce1cf6970c0163018bb9c2970d.jpg" alt="Curioos"></div>
      <div class="sub_header1">
        THE THOUGHTS REPOSITORY
      </div>
      <div class = "clear">
        <img id="profile_pic" src="/Users/shaun.lin/Desktop/Udacity/Full-Stack-Developer/Project/Elliot.JPG" alt="profile_picture">
        <a id="logout_button">Shanfu</a>
        <a id="logout_button">Logout</a>
      </div>
    </header>
    <div>
      <div class="Authorname_container">AUTHOR'S NAME</div>
      <div class="work_container">
        <div class="content">Title of Work</div>
        <div class="content">Type of Work</div>
        <div class="content">Date of Work</div>
      </div>
      <div class="work_container">
        <div class="content">Title of Work</div>
        <div class="content">Type of Work</div>
        <div class="content">Date of Work</div>
      </div>
    </div>
  </body>
</html>
