<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>  </title>
    <link href="{{url_for('static', filename='Authors_list.css')}}" rel="stylesheet">
  </head>
  <body>
    <header class= "header">
      <div><img id="standard_logo" src="https://bbkphilosophysociety.files.wordpress.com/2014/06/6a010535ce1cf6970c0163018bb9c2970d.jpg" alt="Curioos"></div>
      <div class="sub_header1">
        THE THOUGHTS REPOSITORY
      </div>
    </header>
    <form action="/deletemessage/{{message_id}}/" method="POST">
      <input type="submit" value="Delete">
    </form>
  </body>
</html>
